<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.java.resource.java.mopp.JavaMetaInformation" id="org.emftext.language.java.resource.java.mopp.JavaMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.emftext.language.java.resource.java.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="org.emftext.language.java.resource.java.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.java.resource.java.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.java.resource.java.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.java.resource.java.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.java.resource.java.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.java.resource.java.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.java.resource.java.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.java.resource.java.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.java.resource.java.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.java.resource.java.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.java.resource.java.nature" name="java nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.emftext.language.java.resource.java.mopp.JavaNature">
			</run>
		</runtime>
		<builder id="org.emftext.language.java.resource.java.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.emftext.language.java.resource.java.builder" name="java Builder">
		<builder hasNature="true">
			<run class="org.emftext.language.java.resource.java.mopp.JavaBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="org.emftext.language.java.resource.java.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.java.resource.java.mopp.JavaResourceFactoryDelegator" type="java">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.language.java.resource.java.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
</plugin>
